@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

a{
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  margin: 0px 110px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(247, 239, 239);
}

.navbar a {
  margin: 0px 5px;
}

.navbar a button {
  padding: 10px 20px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.navbar a button:hover {
  background-color: blanchedalmond;
  cursor: pointer;
}

.logo {
  font-family: aladin;
  font-size: 34px;
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

#search {
  width: 90%;
  height: 45px;
  border: none;
  font-size: 20px;
  outline: none;
  /* padding: 0px 30px; */
  /* border: 3px solid red; */
}

.search_bar {
  display: block;
  margin: auto;
  display: flex;
  align-items: center;
  width: 815px;
  height: 45px;
  margin-top: 100px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 0px 50px;
  justify-content: space-between;
}

.search_bar > img {
  width: 20px;
}

.words {
  display: block;
  margin: auto;
  width: 815px;
  /* margin-top: 10px;*/
} 

td {
  width: 815px;
  font-size: 24px;
  color: rgb(94, 91, 91);
  border-bottom: 1px solid rgb(247, 239, 239);
}

tr:hover{
  background-color: aliceblue;
}

.word_search{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.word_definition{
  width: 815px;
  height: fit-content;
  border: 1px solid grey;
  display: block;
  margin: auto;
  border-radius: 6px;
  padding:0px 15px;
  font-family: aladin;
  font-size: 14px;
  font-family: "Aladin", system-ui;
  /* font-weight: 400; */
  font-style: normal;
  color: rgb(113, 127, 139);
  
}

.word_def_nav{
  border-bottom: 1px solid rgb(247, 239, 239);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.definition{
  font-size: 19px;
}

.registration{
  margin: auto;
  display: block;
  max-width: 400px;
  height:fit-content;
  border-radius: 8px;
  background-color: rgb(176, 191, 204);
  font-family: aladin;
  font-size: 18px;
  /* font-family: "Aladin", system-ui; */
  font-weight: 200;
  font-style: normal;
  padding: 10px;
  margin-top: 60px;
}

.name{
  display: flex;
}

#create-account{
  text-align: center;
}

#signUpInputName{
  width: 180px;
  height: 30px;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
  padding-left: 8px;
}

#signUpInput{
  width: 95%;
  height: 30px;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
  padding-left: 8px;
}

.signUpBtn{
  padding: 11px;
  border-radius: 7px;
  color: white;
  background-color: blue;
  margin-left: 293px;
}

.error_text{
  color: red;
  font-size: small;
}